<form ng-submit="create()">
	<input type="hidden" ng-model="user.id" />
 
	<label for="email">Email</label>
	<input type="text" ng-model="user.email" />
 
	<label for="password">Password</label>
	<input type="password" ng-model="user.password" />

	<button type="submit">Log in</button>
</form>	
