<h1>Log In</h1>
<form ng-submit="createSession()">
	<input type="hidden" ng-model="session.id" />
 
	<label for="email">Email</label>
	<input type="text" ng-model="session.email" />
 
	<label for="password">Password</label>
	<input type="password" ng-model="session.password" />

	<button type="submit">Log in</button>
</form>	
<span>Or</span>
<h1>Sign up</1>
<form ng-submit="createUser()">
	<input type="hidden" ng-model="user.id" />

	<label for="email">Email</label>
	<input type="text" ng-model="user.email" />

	<label for="password">Password</label>
	<input type="password" ng-model="user.password" />

	<label for="password_confirmation">Password Confirmation</label>
	<input type="password" ng-model="user.password_confirmation" />

	<button type="submit">Sign up</button>
</form>	