<a href="/groups"><i class="icon-arrow-left"></i></a>
<h1>{{group.name}}</h1>
<form ng-submit="checkinAttendee()">
  <div class="input-append">
    <input type="text" ng-model="attendee" placeholder="Checkin attendee..." typeahead="attendee.name for attendee in missingAttendees | filter:$viewValue" class="span3" id="appendedInputButton">
    <button type="submit"  class="btn btn-primary">Checkin</button>
  </div>  
</form>
<h2>Not Here</h2>
<table class="table">
  <tr>
  <th>Name</th>
  <th>Delete</th>
  </tr>
  <tr ng-repeat="attendee in missingAttendees">
    <td>{{attendee.name}}</td>
    <td><button ng-click="destroyAttendee(attendee.id)"><i class="icon-trash"></i></button></td>
  </tr>
</table>
<h2>Here</h2>
<table class="table">
  <tr>
  <th>Name</th>
  <th>Delete</th>
  </tr>
  <tr ng-repeat="attendee in presentAttendees">
    <td>{{attendee.name}}</td>
    <td><button ng-click="destroyAttendee(attendee.id)"><i class="icon-trash"></i></button></td>
  </tr>
</table>
<form ng-submit="addAttendee()">
  <div class="input-append">
    <input type="text" ng-model="newAttendee.name" placeholder="Add Attendee" class="span3" id="appendedInputButton">
    <button type="submit" class="btn" ><i class="icon-plus"></i></button>
  </div> 
</form>
<button ng-click="resetAttendees()" class="btn btn-danger">Reset</button>