<a href="/groups"><i class="icon-arrow-left"></i></a>
<h1>{{group.name}}</h1>
<form ng-submit="checkinAttendee()">
  <div class="input-append">
    <input type="text" ng-model="attendee" placeholder="Checkin attendee..." typeahead="attendee.name for attendee in missingAttendees | filter:$viewValue" class="span3" id="appendedInputButton">
    <button type="submit"  class="btn btn-primary">Checkin</button>
  </div>  
</form>
<h2>Not Here</h2>
<ul>
  <li ng-repeat="attendee in missingAttendees">
    {{attendee.name}}
  </li>
</ul>
<h2>Here</h2>
<ul>
  <li ng-repeat="attendee in presentAttendees">
    {{attendee.name}}
  </li>
</ul>
<form ng-submit="addAttendee()">
  <div class="input-append">
    <input type="text" ng-model="newAttendee.name" placeholder="Add Attendee" class="span3" id="appendedInputButton">
    <button type="submit" class="btn" ><i class="icon-plus"></i></button>
  </div> 
</form>
<button ng-click="resetAttendees()" class="btn btn-danger">Reset</button>